.my_input {
  border-radius: 10px;
  background: #fff;
  padding: 10px; 
  width: 200px;
  height: 15px;    
}

.clinic-border {
  border: 1px solid #cacaca;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.border-alignment {
  margin-left: 20px;
}

.App {
  text-align: center;
}


.profile-details {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.add-clinic {
  margin-left: 60px;
}

.profile-details-degree {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
  width: 60%;
}

.text-color {
  color: #337ab7;
}

.registration {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.search {
  display: flex;
}

.clinic-popup {
  margin-left: 10px;
  margin-top: 21px;
  
}

.popup-scroll {
  overflow-y: scroll;
  max-height: 600px;
  padding:0 1em 0 0;
}

.div-space {
  margin-top:-5px;
margin-bottom:-10px;
}
.word-break {
  word-break: break-all;
}

.registration-div {
  display: flex;
  justify-content: space-between;
}

.registration-council {
  margin-left: 30px;
  width: 35%;
}

.registration-experience {
  margin-left: 10px;
  width: 40%;
}

.input-box {
 padding:10px;
 display:block;
 border : none;
 border-bottom:1px solid #ccc;
 border-top:1px
  solid #ccc;
 border-left:1px solid #ccc;
 border-right:1px solid #ccc; 
 border-radius:5px;
  width:80%;
  background-color: #fff
}

.input-box-dob {
  padding:10px;
  border-radius:5px;
  display:block;
  border : none;
  border-bottom:1px solid #ccc;
  border-top:1px
   solid #ccc;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc; 
   width:80%;
}


.input-box-addr {
  border-radius:5px;
  margin-left: 10%;
  padding:10px;
  display:block;
  border : none;
  border-bottom:1px solid #ccc;
  border-top:1px
   solid #ccc;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc; 
   width:100%;
}

.drop-down-menu {
  width: 180px;
}

.multiSelect {
  margin-left: 10px;
  margin-right: 10px;
}


.consultation {
  justify-content: space-between;
  width: 40%;
}

.qualification-alignment {
  display: flex;
}

.space-between {
  margin-top: 10px;
}

.search-city {

  margin-bottom: 2%;
}

.div-id {
  width: 35%;
}

.div-id-profile-details {
  width: 45%;
}

.input-box-search {
  
    padding:10px;
    display:block;
    border : none;
    border-bottom:1px solid #ccc;
    border-top:1px
     solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc; 
     width:100%;
     background-color: #fff
   
}
.div-id-addr {
  width:50%;
}

.timing {
  width: 40%;
}

.button {
  background-color: #337ab7; 
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button-circle {
  margin-top: 5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.button-circle-add-clinic {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
}

.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #fff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-position {
  margin-top: 5%;
  margin-left: 50%;
}

.add_button {
  margin-left: 20px;
}

.consultation-div {
  margin-left: 10%;
}

.error-message {
  color: red;
}

.upload-button {
  color:#fff;
  background-color:#337ab7;
  border-color:#2e6da4
}

.btn {
  display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px
}

.div-id-clinic {
  width: 50%;
}

.specialization-css {
  margin-left: 10px;
  margin-right: 5%;
}

.weekdays-css {
  width: 20%;
  margin-left: 10px;
}

.time-size {
  background: #fff;
  width: 5%;
}

.year-input {
  height: 35px;
}